/************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. DEFAULT OVERRIDES
 * 2. GENERAL CLASSES
 * 3. GENERAL STYLING
 * 4. HEADER
 * 5. GAME CONTAINER
 * 6. GAME START
 * 7. GAME OVER
 * 8. GAME INSTRUCTIONS
 * 9. FOOTER
 * 10. ANIMATIONS
 * 11. MEDIA QUERIES
 * 12. SKIP TO MAIN
 * 13. FORMS *
 * 14. USER PROFILE PAGE*
 *15. CHEF PROFILE PAGE
 *16. PRODUCT PAGES
 *17. ORDER PAGES
 ***********************************************/

/*1. DEFAULT OVERRIDES*/
html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', Sans-Serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  color: #4daba4;
  background-color:#D3F2EF;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;
}

img{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  transition: all 0.5s;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  display: inline-block;
}

#main{
  margin:10px;
}

/*STEPS*/
#steps{
	padding: 0px 50px;
	align-items: center;
	text-align: center;
}

.step{
	flex: 1;
	white-space: pre-line;
}

.step p{
	margin: 0;
}

.step img{
	width: 75px;
}

#about-content{
	background-color: #4DABA4;
	color: #eae2d8;
	font-weight: bold;
	font-size: 1.25rem;
	padding: 15px;
}

.red-heading{
	color: #ea6f5f;
	text-align: center;
	font-size: 2.25rem;
}

#about .button-container{
	justify-content: center;
}

#about .button{
	color: #eae2d8;
	background-color: #344458;
}
#home-banner{
	background-image: url("../images/banner5.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#home-banner-text{
	font-size: 3rem;
	padding: 25px 50px;
	font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;

}

#home-banner .button{
	font-size: 1.5rem;
	color: #eae2d8;
	background: #ea6f5f;
	margin: 0;
	margin-top: 50px;
}

.banner-text{
	margin: 0;
}
/*2. GENERAL CLASSES*/
.page-wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
}

.hidden{
  position: absolute;
  left: -10000px;
}

.button{
  padding: 10px;
  display: inline-block;
  transition: all .5s;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}

#header .button{
	background-color: #4DABA4;
}

.button:hover{
  cursor: pointer;
}
.banner-pages{
  background-color:#449C93;
  color:#E5D9CD;
  padding:10px;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.center{
  text-align: center;
  display:block;
  margin: 0 auto;
}

/*4. HEADER*/

#header, #footer{
	background-color: #344458;
}

 #home-banner-text{
	 color: #344458;
	 white-space: pre-line;
 }

#header{
  border-bottom: 1px solid #383838;
}

#header .page-wrapper{
  margin: 0;
}

#header-content{
	align-items: center;
}

#header-nav{
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
}

#header-nav a{
  margin-left: 20px;
  color: #383838;
}



.alt{
  color:white !important;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.alt a:hover{
  color:#E1584B;
}

#site-logo{
	flex: 1;
}

#site-logo img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  margin-left: 50px;
  flex: 1;
}

/*12. SKIP TO MAIN*/
#skip-to-main:focus{
   position: relative;
   left: 0;
}

#testimonials{
	align-items: flex-start;
}

.testimonial{
	flex: 1;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	white-space: pre-line;
}

.testimonial img{
	object-fit: cover;
	border-radius: 50%;
	height: 200px;
	margin: 15px 0;
}

.testimonial img, .testimonial-text{
	width: 200px;
}

#footer{
	padding: 10px;
}

#footer a{
	color: white;
	margin-right: 20px;
}

#copyright{
	text-align: center;
	color: white;
}

/*FORMS*/
form{
  background-color:white;
  width:75%;
  display:block;
  margin:0 auto;
  padding:30px 20px 20px 20px;

  -webkit-box-shadow: 4px 7px 5px 0px rgba(71,71,71,0.64);
  -moz-box-shadow: 4px 7px 5px 0px rgba(71,71,71,0.64);
  box-shadow: 4px 7px 5px 0px rgba(71,71,71,0.64);
}

label{
  padding: .5em 1em .5em 1em;
  flex: 1;
}

input, textarea{
  padding:5px;
  background-color:#D3F2EF;
  border: 0.5px solid #449C93;
  flex: 3;
}
.form-row{
  display: flex;
    justify-content: flex-end;
    padding: .5em;
}

form button, #user-profile button, #chef-pages button{
  background-color:#253546;
  color:white;
  text-align: center;
  padding: 10px;
    display: block;
    transition: all .5s;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px auto;
}

form button:hover, #user-profile button:hover, #chef-pages button:hover{
  background-color:#E1584B;
}
button a{
  color:white;
}

/*USER PROFILE PAGE*/
#user-profile h3{
  text-transform: uppercase;
  text-align: center;
}
#user-profile{
  background-color:white;
  width:75%;
  display:block;
  margin:30px auto;
  padding:30px 20px 20px 20px;
  -webkit-box-shadow: 4px 7px 5px 0px rgba(71,71,71,0.64);
  -moz-box-shadow: 4px 7px 5px 0px rgba(71,71,71,0.64);
  box-shadow: 4px 7px 5px 0px rgba(71,71,71,0.64);
}

#user-profile li{
  display:block;
  line-height: 2;
  border-bottom:2px solid;
  background-color:#EBF9F7;
  padding:1em;
  width:60%;
  margin:0 auto;
}

#user-profile button{
  display:inline-block;
}

/*CHEF PROFILE PAGE*/
#chef-pages, .product-page{
  width: 1100px;
  margin: 0 auto;
  padding:10px;
  background-color: #fff;/*#E5D9CD;*/
  color:#449C93;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  -moz-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.chef-image{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
#chef-pages p{
  margin: 10px;
}
.chef-link {
  color: #E1584B;
  font-style: italic;
  font-weight: bold;
}
.chef-link:hover{
  color: #344458;
}

#product-content{
  margin:0 auto;
  justify-content: space-between;
}



.product-image{
  margin:10px 50px;
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 50%;
}

.hidden-form{
  background-color:none;
  width:auto;
  display:block;
  margin:0 auto;
  padding:0;

  -webkit-box-shadow: 0px 0px 0px 0px rgba(71,71,71,0.64);
  -moz-box-shadow: 0px 0px 0px 0px rgba(71,71,71,0.64);
  box-shadow: 0px 0px 0px 0px rgba(71,71,71,0.64);

}

.view-product{
  background-color:white;
  border:0;
  text-decoration: none;
  color:#E1584B;
  font-size:1em;
}

.view-product:hover{
  color:#4daba4;
  text-decoration: underline;
}

/*PRODUCT PAGES*/
#product-page img, #product-page{
  margin:10px auto;
  display: block;
  text-align: center;
}


/*ORDER PAGES*/
.order-item{
  margin-right: 20px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

#cart{
	background-color: white;
	border: 1px solid lightgrey;
    padding: 50px;
	margin: 50px;
}

#cart h2{
	text-transform: uppercase;
	font-weight: bold;
	width 100%;
	border-bottom: 2px solid #4daba4;
}

#order-item-list li{
	align-items: center;
	border-bottom: 1px solid lightgray;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.item-title{
	font-weight: bold;
}

#cart form{
	box-shadow: none;
	padding: 0;
}

#place-order-form{
	margin: 0;
}

#cart label{
	padding: 0;
}

.item-edit-delete form{
	display: inline;
	margin-right: 10px;
}

#order-item-list h3{
	margin: 0;
}
